<%- include('_head.ejs'); %>

<script>
  const board = JSON.parse('<%- JSON.stringify(board).replace("'", "&lsquo;") %>');
</script>

<main>
  <a href="/">â† Back</a>

  <div id="board-title"><%= board.title %></div>
  <div id="board-date"><%= board.getDisplayDate() %></div>

  <%- include('_create_question.ejs') %>

</main>

<script src="/s/boardpage.js"></script>
<script>refresh();</script>

<%- include('_footer.ejs'); %>