<%- include('_head.ejs'); %>

<script>
  const board = JSON.parse('<%- JSON.stringify(board).replace("'", "&lsquo;") %>');
</script>

<main>
  <a href="/">← Back</a>

  <div id="board-title"><%= board.title %></div>
  <div id="board-date"><%= board.getDisplayDate() %></div>

  <%- include('_create_question.ejs') %>

  <div id="questions">
    <div class="spinner"></div>
  </div>

  <div id="question-template" class="question">
    <div class="question-data">
      <div class="question-text"></div>
      <div class="question-context"></div>
      <div class="question-author"></div>
      <div class="spinner"></div>
    </div>
    <div class="question-voting">
      <div data="up"   class="question-voting-updown" title="Yay">▲</div>
      <div data="meh"  class="question-voting-updown" title="Meh">—</div>
      <div data="down" class="question-voting-updown" title="Nay">▼</div>
    </div>
  </div>

</main>

<script src="/s/boardpage.js"></script>
<script>refresh();</script>

<%- include('_footer.ejs'); %>