<%- include('_head.ejs'); %>

<script>
  const board = JSON.parse('<%- JSON.stringify(board).replace("'", "&lsquo;") %>');
</script>

<main>
  <a href="/">â† Back</a>

  <div id="board-title"><%= board.title %></div>
  <div id="board-date"><%= board.getDisplayDate() %></div>

  <%- include('_create_question.ejs') %>

  <div id="questions"></div>

  <div id="question-template" class="question">
    <div class="question-text"></div>
    <div class="question-context"></div>
    <div class="question-author"></div>
    <div class="spinner"></div>
  </div>

</main>

<script src="/s/boardpage.js"></script>
<script>refresh();</script>

<%- include('_footer.ejs'); %>