<%- include('_head.ejs'); %>

<main>
  <a href="/new" class="create-button"><big><b>+</b></big> New board</a>

  <% if (boards.length > 0) { %>
    <p style="margin: 10ex 0 0 2ex;">Recent boards:
      <ul>
        <% boards.forEach(function(board) { %>
          <li>
            <a href="/b/<%= board.id %>"><%= board.title %></a>
            <span class="board-list-metadata">
              (created <%= board.getDisplayDate() %> by <%= board.creatorEmail %>)
            </span>
          </li>
        <% }); %>
      </ul>
    </p>
  <% } %>
</main>

<%- include('_footer.ejs'); %>